<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iProducts | iFaiyan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="w-full h-[10vh] p-10 flex items-center justify-between bg-[#ebebeb]"
    >
      <h2 class="text-2xl"><a href="/">iFaiyan</a></h2>
      <div class="hidden md:flex gap-10 list-none">
        <li class="hover:cursor-pointer"><a href="/">Home</a></li>
        <li class="hover:cursor-pointer"><a href="/products">Products</a></li>
        <li><a href="/logout">LogOut</a></li>
      </div>
      <img
        class="responsive-button md:hidden w-6"
        src="https://cdn-icons-png.flaticon.com/128/17821/17821829.png"
        alt="menu button"
      />
    </nav>

    <div class="mobile-menu hidden md:hidden left-0 w-full list-none">
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/products">Products</a>
      </li>
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/basket">Your Basket</a>
      </li>
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/my-store">My Store</a>
      </li>
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/logout">Logout</a>
      </li>
    </div>

    <div class="w-full h-[90vh] flex bg-[#ebebeb]">
      <div class="hidden md:block left-0 w-1/5 list-none">
        <li
          class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
        >
          <a class="block" href="/products">Products</a>
        </li>
        <li
          class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
        >
          <a class="block" href="/basket">Basket</a>
        </li>
        <li
          class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
        >
          <a class="block" href="/my-store">My Store</a>
        </li>
      </div>

      <div class="right px-5 w-full h-full flex flex-col gap-10 overflow-scroll">
        <!-- Model -->
         <% if(products.length > 0){ %>
          <% products.forEach(function(item){ %>
            <div class="w-full h-32 md:h-40 bg-zinc-100 rounded flex">
              <img
                class="max-w-32 h-full object-cover rounded"
                src="<%= item.image %>"
                alt="Product images!"
              />
              <div class="w-full h-full flex flex-col items-center justify-center">
                <h3><%= item.title %></h3>
                <p class="font-light"><%= item.description %></p>
                <h3>Price: <%= item.price %></h3>
              </div>
              <div class="flex justify-center items-center w-full h-full">
                <a class="cursor-pointer bg-red-500 px-5 py-3 rounded font-semibold text-white" onclick="removeProduct('<%= item._id %>')">Remove</a>
              </div>
            </div>
          <% }) %>
         <% }else{ %>
          <p>There's no items yet!! Add items from <a class="text-blue-500" href="/products">here.</a></p>
         <% } %>
      </div>

    </div>

    <script src="/js/basket.js"></script>
  </body>
</html>
